server/src/main/resources/courses.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/courses"
				  targetNamespace="http://www.example.com/courses">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
				   targetNamespace="http://www.example.com/courses">
			<xs:element name="CourseId">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PersonId">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CourseRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="title" type="xs:string"/>
						<xs:element name="lecturerId" type="xs:long"/>
						<xs:element name="date" type="xs:date"/>
						<xs:element name="capacity" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnrollmentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="studentId" type="xs:long"/>
						<xs:element name="courseId" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WithdrawRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="studentId" type="xs:long"/>
						<xs:element name="courseId" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegisterRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="surname" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Confirmation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="xs:string"/>
						<xs:element name="code" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CourseId">
		<wsdl:part element="tns:CourseId" name="CourseId">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="PersonId">
		<wsdl:part element="tns:PersonId" name="PersonId">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CourseRequest">
		<wsdl:part element="tns:CourseRequest" name="CourseRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="EnrollmentRequest">
		<wsdl:part element="tns:EnrollmentRequest" name="EnrollmentRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="WithdrawRequest">
		<wsdl:part element="tns:WithdrawRequest" name="WithdrawRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterRequest">
		<wsdl:part element="tns:RegisterRequest" name="RegisterRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Confirmation">
		<wsdl:part element="tns:Confirmation" name="Confirmation">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CoursesPort">
		<wsdl:operation name="addCourse">
			<wsdl:input message="tns:CourseRequest" name="CourseRequest">
			</wsdl:input>
			<wsdl:output message="tns:CourseId" name="CourseId">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeCourse">
			<wsdl:input message="tns:CourseId" name="CourseId">
			</wsdl:input>
			<wsdl:output message="tns:Confirmation" name="Confirmation">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="enrollToCourse">
			<wsdl:input message="tns:EnrollmentRequest" name="EnrollmentRequest">
			</wsdl:input>
			<wsdl:output message="tns:Confirmation" name="Confirmation">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="withdrawFromCourse">
			<wsdl:input message="tns:WithdrawRequest" name="WithdrawRequest">
			</wsdl:input>
			<wsdl:output message="tns:Confirmation" name="Confirmation">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="register">
			<wsdl:input message="tns:RegisterRequest" name="RegisterRequest">
			</wsdl:input>
			<wsdl:output message="tns:PersonId" name="PersonId">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unregister">
			<wsdl:input message="tns:PersonId" name="PersonId">
			</wsdl:input>
			<wsdl:output message="tns:Confirmation" name="Confirmation">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CoursesPortSoap11" type="tns:CoursesPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addCourse">
			<soap:operation soapAction=""/>
			<wsdl:input name="CourseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CourseId">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeCourse">
			<soap:operation soapAction=""/>
			<wsdl:input name="CourseId">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="Confirmation">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="enrollToCourse">
			<soap:operation soapAction=""/>
			<wsdl:input name="EnrollmentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="Confirmation">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="withdrawFromCourse">
			<soap:operation soapAction=""/>
			<wsdl:input name="WithdrawRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="Confirmation">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="register">
			<soap:operation soapAction=""/>
			<wsdl:input name="RegisterRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PersonId">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unregister">
			<soap:operation soapAction=""/>
			<wsdl:input name="PersonId">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="Confirmation">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CoursesPortService">
		<wsdl:port binding="tns:CoursesPortSoap11" name="CoursesPortSoap11">
			<soap:address location="http://localhost:8080/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>